[submodule "HVAC-IR-Control"]
	path = HVAC-IR-Control
	url = https://github.com/r45635/HVAC-IR-Control.git
[submodule "libraries/Adafruit_MAX31865"]
	path = libraries/Adafruit_MAX31865
	url = https://github.com/adafruit/Adafruit_MAX31865.git
[submodule "libraries/tm1638-library"]
	path = libraries/tm1638-library
	url = https://github.com/rjbatista/tm1638-library.git
[submodule "libraries/WiFi_AVRISP"]
	path = libraries/WiFi_AVRISP
	url = https://github.com/Subhajitdas298/WiFi_AVRISP.git
